<a href="https://colab.research.google.com/github/christianabusca/daanaprojekta/blob/main/Python_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# WORKING WITH STRINGS
```

In [ ]:
# WORKING WITH STRINGS IN PYTHON
# STRINGS

# STRINGS CAN BE USED IN SINGLE OR DOUBLE QUOTES
# METHOD - FUNCTION THAT IS AVAILABLE IN PARTICULAR DATATYPE
# EXAMPLE variable.method()

# USING STRING REPLACE METHOD

ako = "Christian Drey S. Abusca"
ako = ako.replace("Christian", "Siya")
ako

'Siya Drey S. Abusca'

In [ ]:
# USING STRING METHOD TO MAKE A TEXT IN UPPER OR LOWERCASE
aso = "Boomiee"
aso = aso.lower()

pusa = "Cathy"
pusa = pusa.upper()
aso, pusa

('boomiee', 'CATHY')

In [ ]:
#MULTI-LINE STRINGS

# using triple double quotes can be used in having a multi-line string
# for example:

ako = """Metro Manila, comprised of 16 cities,
is a prime example of rapid
urbanization because of its tall
buildings and busy neighbourhoods. """

ako

'Metro Manila, comprised of 16 cities, \nis a prime example of rapid \nurbanization because of its tall \nbuildings and busy neighbourhoods. '

LIST

In [ ]:
#LISTS = STORE MULTIPLE VALUES IN A DATATYPE IN A SINGLE VARIABLE

prices = [10, 20, 30, 40, 50, 60]
type(prices)

# list are ordered
# to subsetting = list[index]
prices[4]

# finding the last element in a list
prices[-1]

# ACCESSING MULTIPLE ELEMENTS
# list[starting_element:last_element + 1]
prices[1:3]

# ACCESSING MULTIPLE ELEMENTS
prices[3:] # this will access the fourth index onwards
prices[:3] # starting to the fourth index

#ALTERNATINC ACCESS
prices[::2] #THIS HAS THE INTERVAL OF 2
prices[1::3] #ACCESS EVERY THIRD ELEMENT IN A LIST, STARTING AT THE SECOND INDEX

[10, 30, 50]

DICTIONARIES

In [ ]:
# DICTIONARIES
prices = [10, 20, 30, 40, 50, 60]
product_ids = ["AG32", "HT91", "PL65", "OS31", "KB07", "TR48"]

# dictionary = data structure of key-value pairs
# USEFUL SINCE KEY AND VALUES ARE ASSOCIATED

product_dict = {"AG32": 10,
                "HT91": 20,
                "PL65": 30,
                "OS31": 40,
                "KB07": 50,
                "TR48": 60}
product_dict

# finding a specific value of a product
product_dict["AG32"]

# finding all values
product_dict.values()

# finding all keys
product_dict.keys()

# finding all items
product_dict.items()

# VALUES IN PARETHESIS ARE KNOWN AS TUPLE

# UPDATE A DICTIONARY
product_dict["AG32"] = 100
product_dict

dict_keys(['AG32', 'HT91', 'PL65', 'OS31', 'KB07', 'TR48'])

In [ ]:
# SETS
# DATA STRUCTURE THAT stores unique information
# 1 INSTANCE OF A SET

# CAN ADD OR REMOVE VALUES BUT CANNOT CHANGE THEM

# SET = {}
# if it has : = Dictionary
# No : = Set

my_set = {"apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"}
my_set

# CASTING - When converting a LIST into a SET
my_list = ["apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"]
my_set2 = set(my_list) # THIS IS A SAMPLE OF CASTING
type(my_set2)
my_set2

# SETS DON'T HAVE AN INDEX
# SETS ARE UNORDERED

['apple', 'banana', 'cherry', 'malunggay', 'mango']

In [ ]:
# WHEN USING sorted() IT RETURNS THE SET INTO ALPHABETICAL ORDER
my_set2 = sorted(my_set2)
my_set2

['apple', 'banana', 'cherry', 'malunggay', 'mango']

In [ ]:
# TUPLE
# IMMUTABLE - CANNOT BE  CHANGED, CAN'T ADD,REMOVE OR CHANGE THE VALUE IN TUPLES
# TUPLES ARE ORDERED, WE CAN SUBSET BY INDEX
cities = ("Makati", "Taguig", "Quezon", "Muntinlupa", "Manila")
cities

In [ ]:
# WE CAN USE A FUNCTION TO CONVERT A LIST INTO A TUPLE
my_list = ["apple", "banana", "cherry", "mango", "malunggay", "apple", "mango"]
my_list_tuple = tuple(my_list)
my_list_tuple

('apple', 'banana', 'cherry', 'mango', 'malunggay', 'apple', 'mango')

In [ ]:
# WE CAN ACCESS AN ELEMENT BY SEARCHING FOR AN INDEX
my_list_tuple[3]

'mango'

CONDITIONAL STATEMENTS AND OPERATORS

In [ ]:
# CONDINTIONAL STATEMENTS AND OPERATORS

truth = True
print(truth)

# COMPARISON OPERATORS - COMBINATIONS OF SYMBOLS TO COMPARE THINGS

# == - TO CHECK THINGS IF THEY ARE EQUAL
# EXAMPLE
2 == 3 # FALSE

# != - TO CHECK THINGS FOR INEQUALITY
# EXAMPLE
2 != 3 # TRUE

5 < 7
5 <= 7
5 > 7
5 >= 7

# OTHER COMPARISONS
"James" > "Brian"

# conditional statements
# If True perform a task, otherwise, do nothing

sales_target = 350
units_sold = 355

if units_sold >= sales_target:
  print("You've achieved your sales target!")
elif units_sold >= 320:
  print("Target almost achieved")
else:
  print("You didn't achieve your sales target")

In [ ]:
# FOR LOOPS

# PRICES LIST
prices = [9.99, 8.99, 35.25, 1.50, 5.75]
prices[0] > 10

# for value in sequence:
#   action

for price in prices:
  if price > 10:
    print("More than $10")

  elif price < 5:
    print("Less than $5")

  else:
    print(price)

In [ ]:
# LOOPING IN STRINGS
username = "george_dc"

for char in username:
  print(char)

In [ ]:
product_dict = {"AG32": 87.99,
                "HT91": 21.50,
                "PL65": 43.75,
                "OS31": 19.99,
                "KB07": 62.95,
                "TR48": 98.0}
# USING FOR LOOPS IN KEYS AND VALUES

for key, val in product_dict.items():
  print(key, val) # FOR KEYS AND VALUES

for key in product_dict.keys():
  print(key) # FOR KEYS

for val in product_dict.values():
  print(val) # FOR VALUES

AG32 87.99
HT91 21.5
PL65 43.75
OS31 19.99
KB07 62.95
TR48 98.0

In [ ]:
# BUILT IN FUNCTION
# RANGE
# range(start, end + 1)
# start = inclusive
# end = not inclusive

# EXAMPLE

for i in range(1,6):
  print(i)

visits = 0

for i in range(1,11):
  visits += 1 # SAME AS VISITS = VISITS + 1

print(visits)

1
2
3
4
5
10

In [ ]:
user_ids = ["T42YG4KTK", "VTQ39IDQ0", "CRL11YUWX",
            "K6Y5URXLR", "V4XCBER7V", "IOGQWC61K"]

# Loop through user_ids
for user_id in user_ids:
  # Print the user_id
  print(user_id)

In [ ]:
# Create the tickets_sold variable
tickets_sold = 0

# Create the max_capacity variable
max_capacity = 30

#Â Loop through a range up to and including max_capacity's value
for i in range(1, max_capacity + 1):
  # Add one to tickets_sold in each iteration
  tickets_sold += 1

print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 30 tickets sold!

In [ ]:
courses = {"LLM Concepts": "AI",
           "Introduction to Data Pipelines": "Data Engineering",
           "AI Ethics": "AI",
           "Introduction to dbt": "Data Engineering",
           "Writing Efficient Python Code": "Programming",
           "Introduction to Docker": "Programming"}

# Loop through the dictionary's keys and values
for key, value in courses.items():

  # Check if the value is "AI"
  if value == "AI":
    print(key, "is an AI course")

  # Check if the value is "Programming"
  elif value == "Programming":
    print(key, "is a Programming course")

  # Otherwise, print that it is a "Data Engineering" course
  else:
    print(key, "is a Data Engineering course")

LLM Concepts is an AI course
Introduction to Data Pipelines is a Data Engineering course
AI Ethics is an AI course
Introduction to dbt is a Data Engineering course
Writing Efficient Python Code is a Programming course
Introduction to Docker is a Programming course

In [1]:
# WHILE LOOPS
# SYNTAX OF WHILE LOOP

# while condition:
#   action

# USEFUL FOR CONTINOUS TASK
# ACCELERATE WHILE A BUTTON IS PRESSED

stock = 10

num_purchases = 0

# WHILE num_purchases < stock limit
while num_purchases < stock:
  # INCREMENT num_purchases
  num_purchases +=1
  # PRINT REMAINING STOCK
  print("Remaining stock:", stock - num_purchases)

# WE COULD use the "break" if we want to while loop to do it once

Remaining stock: 9
Remaining stock: 8
Remaining stock: 7
Remaining stock: 6
Remaining stock: 5
Remaining stock: 4
Remaining stock: 3
Remaining stock: 2
Remaining stock: 1
Remaining stock: 0

In [3]:
stock = 10

num_purchases = 0

# WHILE num_purchases < stock limit
while num_purchases < stock:
  # INCREMENT num_purchases
  num_purchases +=1
  # PRINT REMAINING STOCK
  if stock - num_purchases > 7:
    print("Plenty of stock remaining")
  elif stock - num_purchases > 3:
    print("Some stock remaining")
  else:
    print("Low stock remaining")

Plenty of stock remaining
Plenty of stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Low stock remaining
Low stock remaining
Low stock remaining
Low stock remaining

In [8]:
# BUILDING A WORKFLOW
# COMPLEX WORKFLOWS

# THE "in" KEYWORD
# in = check if a value is in a variable/data structure
product_dict = {"AG32": 10,
                "HT91": 20,
                "PL65": 30,
                "OS31": 40,
                "KB07": 50,
                "TR48": 60}
product_dict

if "OS31" in product_dict.keys():
  print("True")
else:
  print("False")

# THE "not" KEYWORD
# not = check if a condition is not met
# EXAMPLE:

if "OS31" not in product_dict.keys():
  print("True")
else:
  print("False")

# THE "and" KEYWORD
# and = check if multiple conditions are met

if "HT91" in product_dict.keys() and min(product_dict.values()) > 5:
  print("True")
else:
  print("False")

# THE "or" KEYWORD
# or = check if one (or more) condition is met
if "HT91" in product_dict.keys() or min(product_dict.values()) > 10:
  print("True")
else:
  print("False")

True
False
True
True

In [9]:
# ADDING/SUBTRACTING from variables
# combine keywords wih other techniques to build complex workflows

sales_count = 0
for sale in range (1, 10):
  sales_count += 1
  print("Total sales:", sales_count)

stock = 10
for sale in range (1, 10):
  stock -= 1
  print("Remaining stock:", stock)

Total sales: 1
Total sales: 2
Total sales: 3
Total sales: 4
Total sales: 5
Total sales: 6
Total sales: 7
Total sales: 8
Total sales: 9

In [11]:
# APPENDING
# STORE INFORMATION THAT MEETS SPECIFIC CRITERIA IN A LIST

expensive_products = []

for key, val in product_dict.items():
  # CHECK IF PRICE IS 20 OR MORE
  if val >= 20:
    # APPEND THE product ID to the list
    expensive_products.append(key)

expensive_products

['HT91', 'PL65', 'OS31', 'KB07', 'TR48']